* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.main-wrap {
}
.main-container {
  /* width: 100%;
  max-width: 1440px; */
}
.section-1 {
}
.logo-nav {
  /* width: 100%;
  max-width: 1440px; */
  height: 55px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.logo {
  float: left;
  margin: 16px 0px 0 120px;
}
.nav {
  float: right;
  margin: 16px 0 0 0;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  list-style-type: none;
  margin-right: 40px;
  font-family: Graphie;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;

  letter-spacing: 0.7px;
  text-transform: uppercase;

  color: #333333;
  cursor: pointer;
}
ul li i {
  margin: 0 0 0 10px;
}
li {
  position: relative;
}
li:hover {
  background-color: #ccc;
}
li:hover .dropdown {
  display: block;
}
.dropdown {
  display: none;
  overflow: hidden;
  position: absolute;
  left: 68px;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.dropdown a {
  float: none;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown a:hover {
  font-size: 17px;
  background: rgb(148, 145, 145);
  color: white;
  margin: 0;
  border: none;
  outline: none;
}
li:hover .dropdown5 {
  display: block;
}

.dropdown5 {
  display: none;
  overflow: hidden;
  position: absolute;
  left: 8px;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.dropdown5 a {
  float: none;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown5 a:hover {
  font-size: 17px;
  background: rgb(148, 145, 145);
  color: white;
  margin: 0;
  border: none;
  outline: none;
}
.section-2 {
  /* padding: 0 136px 0 120px; */
}
.main-section2 {
  display: flex;
  width: 100%;
  padding: 0 136px 0 104px;
}
.text p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  color: #333333;
  margin: 80px 0 0 120px;
}
.display {
  margin: 0 30px 0 0;
  width: 100%;
  max-width: 585px;
}
.display img {
  width: 100%;
  max-width: 585px;
  height: 590px;
  border-radius: 10px;
  margin: 40px 0 0 0;
}
.display .date {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #979797;
  margin: 20px 0 0 0;
}
.display .datetext {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #333333;
  margin: 16px 0 0 0;
}
.display .learn {
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 22px;
  color: #333333;
  border-bottom: 1px solid black;
  margin: 24px 0 0px 0;
  width: 102px;
}
.learn a {
  text-decoration: none;
  color: #333333;
}
.learn a:hover {
  color: hotpink;
}

.main-section3 {
  display: flex;
  width: 100%;
  padding: 0 136px 0 104px;
}
.main-section4 {
  display: flex;
  width: 100%;
  padding: 0 136px 0 104px;
}

.main-section5 {
  display: flex;
  width: 100%;
  padding: 0 136px 0 104px;
}
.main-section6 {
  display: flex;
  width: 100%;
  padding: 0 136px 0 104px;
  margin: 0 0 63px 0;
}
.section-4 {
  padding: 75px 100px;
  max-width: 1400px;
  width: 100%;
}
.allfooter {
  margin: 0 0 81px 0;
  display: flex;
}
.footer-left {
  max-width: 338px;
  width: 100%;
}
.footer-left h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-left span {
  font-weight: 300;
}
.icons {
  margin: 40px 0 40px 0;
}
.icons i {
  padding: 0 29.6px 0 0;
}
.mail p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #0a142f;
  margin: 0 0 20px 0;
}
.mail {
  border-bottom: 1px solid #ccc;
}
.email-input {
  border: none;
  outline: none;
}
.footer-right {
  width: 100%;
  max-width: 881px;
  margin: 0 0 0 108px;
}
.row {
  display: flex;
}
.col-1 {
  margin: 0 90px 14px 0;
}
.col-1 h4 {
  font-style: normal;
  font-family: Graphie;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin: 0 0 16px 0;
}
.col-1 p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  color: #333333;
  mix-blend-mode: normal;
  opacity: 0.75;
  width: 100%;
  max-width: 180px;
  margin: 16px 0 0 0;
}
hr {
  color: #333333;
  margin: 0 20px 0 20px;
}
.lastpara {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 22px;
  width: 100%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.5);
  width: 1169px;
  border-radius: nullpx;
}

@media screen and (max-width: 600px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}
