.main-wrap {
  padding: 0 20px;
  /* background-color: red;    */
}
* {
  font-family: "Inter", sans-serif;
  /* margin: 0%; */
  /* padding: 0%; */
}
.cotainer {
  max-width: 1400px;
  width: 100%;
}
.section-6 {
  padding-bottom: 20px;
}
.logo-nav {
}
.logo {
  float: left;
  margin: 16px 0px;
}
.nav {
  float: right;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  list-style-type: none;
  margin-right: 40px;
  font-family: Graphie;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;

  letter-spacing: 0.7px;
  text-transform: uppercase;

  color: #333333;
}
ul li i {
  margin-left: 10px;
}
.section-7 {
  background-color: #fcfaf2;
  margin-top: 31px;
}
.main-div {
  display: flex;
  width: 100%;
}
.health {
  width: 100%;
  max-width: 40%;
  margin: 115px 0 0 100px;
}
.health h2 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 52px;
  text-transform: capitalize;
  color: #333333;
  margin: 0 0 0 0;
}
.health p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  margin: 20px 0 0 0;
  letter-spacing: 0.7px;

  color: #333333;
}
.view {
  height: 45px;
  width: 208px;
  border-radius: 10px;
  background: #333333;
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  letter-spacing: 0.7px;
  border: none;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 20px 0 0 0;
}
.view i {
  color: #ffffff;
  margin: 0 0 0 16px;
}

.covid {
  margin: 61px 99px 0 101px;
  width: 100%;
  max-width: 60%;
  height: 377px;
}
.first-covid {
  width: 195px;
  height: 195px;
  background: #ebcfb8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.round-covid1 {
  height: 92px;
  width: 92px;
  border-radius: 50%;
  background: #f2dfcf;
  display: flex;
  align-items: center;
  justify-content: center;
}
.round-covid2 {
  height: 92px;
  width: 92px;
  border-radius: 50%;

  background: #f3efe8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.round-covid3 {
  height: 92px;
  width: 92px;
  border-radius: 50%;
  background: #eff6fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.round-covid4 {
  height: 92px;
  width: 92px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3efe8;
}
.round-covid5 {
  height: 92px;
  width: 92px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3efe8;
}
.round-covid6 {
  height: 92px;
  width: 92px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #eff6fa;
}

.text-covid1 p {
  font-family: Graphie;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #333333;
  margin: 24px 7px 0px 7px;
}

.text-covid2 {
}
.text-covid2 p {
  font-family: Graphie;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #333333;
  margin: 24px 3px 0px 3px;
}

.text-covid3 p {
  font-family: Graphie;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #333333;
  margin: 24px 0px 0 0px;
}

.text-covid4 p {
  font-family: Graphie;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #333333;
  margin: 24px 4px 0 4px;
}

.text-covid5 p {
  font-family: Graphie;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #333333;
  margin: 24px 6px 0 6px;
}

.text-covid6 p {
  font-family: Graphie;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #333333;
  margin: 24px 3px 0 3px;
}
.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
}
.first-covid:nth-child(2) {
  background: #ede8dd;
}
.first-covid:nth-child(3) {
  background: #e2eef6;
}
.first-covid:nth-child(5) {
  background: #ede8dd;
}
.first-covid:nth-child(6) {
  background: #e2eef6;
}
.section-8 {
  padding: 133px 0 100px 98px;
}

.women-journey {
  display: flex;
}
.women {
  width: 100%;
  max-width: 590px;
}

.journey {
  /* width: 100%; */
  /* max-width: 589px; */
}
.journey-text {
  margin: 26px 0 0 66px;
}
.journey h2 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 0.7px;
  color: #333333;
  margin: 27px 0 0 0;
}
.journey p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: #333333;
  margin: 24px 0 0 0;
}
.chronic-depression {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 532px;
}
.chronic {
  margin: 0 0 0 0;
}
.chronic1 {
  margin: 0 0 0 66px;
  display: flex;
  align-items: center;
  width: 100%;
}
.sto-img {
  margin: 4px 0 0 0;
}

.chronic-text {
  margin: 0 0 0 17px;
}
.chronic-text h4 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: #333333;
  width: 100%;
  max-width: 185px;
  margin: 24px 0 0 0;
}
.chronic-text p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.7px;
  mix-blend-mode: normal;
  color: rgba(51, 51, 51, 0.7);
  width: 100%;
  max-width: 185px;
  margin: 4px 0 0 0;
}
.chronic2 {
  margin: 0px 0 0 70px;
  display: flex;
  align-items: center;
  width: 100%;
}
.most-img {
  margin: 8px 0 0 0;
}

.most-text {
  margin: 0 0 0 17px;
}

.most-text h4 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: #333333;
  width: 100%;
  max-width: 185px;
  margin: 32px 0 0 0px;
}
.most-text p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.7px;
  mix-blend-mode: normal;
  color: rgba(51, 51, 51, 0.7);
  margin: 4px 0 0 0;
  width: 100%;
  max-width: 185px;
}
.chronic3 {
  margin: 0px 0 0 67px;
  display: flex;
  align-items: center;
  width: 100%;
}
.star-img {
  margin: 32px 0 0 0;
}

.star-text {
  margin: 0 0 0 15px;
}

.star-text h4 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: #333333;
  width: 100%;
  max-width: 185px;
  margin: 32px 0 0 0;
}
.star-text p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.7px;
  mix-blend-mode: normal;
  color: rgba(51, 51, 51, 0.7);
  width: 100%;
  max-width: 185px;
  margin: 4px 0 0 0;
}
.chronic4 {
  margin: 0 0 0 66px;
  display: flex;
  align-items: center;
  width: 100%;
}
.covid-img {
  margin: 26px 0 0 0px;
}
.covid-text {
  margin: 0 0 0 18px;
}
.covid-text h4 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;

  letter-spacing: 0.7px;

  color: #333333;
  margin: 32px 0 0 0;
}
.covid-text p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.7px;

  color: rgba(51, 51, 51, 0.7);
  margin: 4px 0 0 0;
}
.depression {
  margin: 0 0 0 63px;
}
.depression1 {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
}
.sto-d-img {
  margin: -89px 0 0 0;
}
.depression-text {
  margin: 0 0 0 18px;
}
.depression1 h4 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: #333333;
  margin: -65px 0 0 0;
}
.depression1 p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.7px;
  color: rgba(51, 51, 51, 0.7);
  margin: 4px 0 0 0;
}

.depression2 {
  display: flex;
  align-items: center;
  width: 100%;
}
.most-d-img {
  margin: 16px 0 0 0;
}
.most-d-text {
  margin: 0 0 0 18px;
}
.depression2 h4 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: #333333;
  margin: 23px 0 0 0;
}
.depression2 p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.7px;
  color: rgba(51, 51, 51, 0.7);
  margin: 4px 0 0 0;
}
.depression3 {
  display: flex;
  align-items: center;
  width: 100%;
}
.moon-d-img {
  margin: 45px 0 0 0;
}
.moon-d-text {
  margin: 0 0 0 15px;
}
.depression3 h4 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;

  letter-spacing: 0.7px;

  color: #333333;
  margin: 32px 0 0 0;
}
.depression3 p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.7px;
  margin: 4px 0 0 0;
  color: rgba(51, 51, 51, 0.7);
}
.woman-fpo {
  position: relative;
}
.fpo {
  position: absolute;
  left: 41px;
  top: 37px;
}
.section-9 {
  padding: 100px;
  background: #edf7fd;
}
.mentalss-text h2 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 0.7px;
  color: #333333;
  margin: 24px 0 0 0;
}
.mentalss-text p {
  margin: 24px 0 0 0;
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  letter-spacing: 0.7px;

  color: #333333;
}
.main-mental {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  margin: 0;
}
.mentalhealth {
  width: 100%;
  max-width: 556px;
}
.mental1 {
  display: flex;
  align-items: center;
  width: 100%;
}
.mental-img {
  margin: 11px 0 0 0;
}
.mental-text {
  margin: 0 0 0 17px;
}
.mental-text h4 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: #333333;
  margin: 24px 0 0 0;
}
.mental-text p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.7px;
  color: rgba(51, 51, 51, 0.7);
  margin: 4px 0 0 0;
  width: 100%;
  max-width: 186px;
}
.mental2 {
  display: flex;
  align-items: center;
  width: 100%;
}
.mental2-img {
  margin: 14px 0 0 0;
}
.mental2-text {
  margin: 0 0 0 17px;
}
.mental2-text h4 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: #333333;
  margin: 32px 0 0 0;
}
.mental2-text p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.7px;
  color: rgba(51, 51, 51, 0.7);
  margin: 4px 0 0 0;
  width: 100%;
  max-width: 186px;
}

.mental3 {
  display: flex;
  align-items: center;
  width: 100%;
}

.mental3-img {
  margin: 29px 0 0 0;
}
.mental3-text {
  margin: 0 0 0 17px;
}
.mental3-text h4 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: #333333;
  margin: 24px 0 0 0;
}
.mental3-text p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.7px;
  color: rgba(51, 51, 51, 0.7);
  margin: 4px 0 0 0;
  width: 100%;
  max-width: 186px;
}
.mental4 {
  display: flex;
  align-items: center;
  width: 100%;
}

.mental4-img {
  margin: 39px 0 0 0;
}
.mental4-text {
  margin: 0 0 0 17px;
}
.mental4-text h4 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: #333333;
  margin: 50px 0 0 0;
}
.mental4-text p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.7px;
  color: rgba(51, 51, 51, 0.7);
  margin: 4px 0 0 0;
  width: 100%;
  max-width: 186px;
}
.mentalbutton {
  height: 45px;
  width: 276px;
  background: #24547a;
  border-radius: 10px;
  padding: 14px 0px;
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
  color: #ffffff;
  margin: 24px 0 0 0;
  border: none;
}
.mentalbutton i {
  width: 21px;
  height: 9px;
  color: #ffffff;
  margin: 0 0 0 12px;
}
.mentalbutton:hover {
  background-color: #386b96;
  cursor: pointer;
}
.menuhealth {
  display: flex;
  width: 100%;
}
.whiteglove {
  margin: 0 0 0 0;
}

.mobile {
  position: relative;
  margin: 0 0 0 66px;
  width: 100%;
  max-width: 590px;
  height: 591px;
}
.mobilefpo {
  position: absolute;
  top: 22px;
  left: 45px;
  margin: 0;
}
.section-10 {
  padding: 100px 120px 113px;
  margin: 0;
}
.travels {
  position: relative;
  margin: 0;
}
.traveller-fpo {
  position: absolute;
  top: 23px;
  left: 35px;
  margin: 0;
}
.traveller-samedays {
  width: 100%;
  display: flex;
}
.samedays {
  width: 100%;
  max-width: 544px;
  margin: 0px 0 0 75px;
}
.samedays h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 52px;

  letter-spacing: 0.7px;

  color: #333333;
  margin: 53px 0 0 0;
}
.samedays p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  letter-spacing: 0.7px;
  color: #333333;
  margin: 24px 0 0 0;
}

.paragraph1 {
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
  width: 100%;
}
.paragraph1 p {
  margin: 0 0 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: #333333;
  margin: 16px 0 0 20px;
}

.paragraph1 i {
  font-size: 25px;
  width: 20px !important;
  height: 20px !important ;
  margin: 20px 0 0 0;
}
.paragraph2 {
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
  width: 100%;
}
.paragraph2 p {
  margin: 0 0 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: #333333;
  margin: 16px 0 0 20px;
}

.paragraph2 i {
  font-size: 25px;
  width: 20px !important;
  height: 20px !important ;
  margin: 20px 0 0 0;
}

.section-11 {
  padding: 100px;
  background: #fcfaf2;
}
.word-title {
  text-align: center;
}
.word-text {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.7px;
  color: #333333;
  margin: 0 0 0 0;
}
.main-3 {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 60px 0 0 0;
}
.main-clinic {
  padding: 32px 0;
  width: 100%;
  max-width: 384px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 24px 0 0;
}
.main-clinic:nth-child(1) {
  background: #f4f2e9;
}
.radius-img {
  background: #efeae1;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clinic-head {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height, or 121% */

  text-align: center;
  letter-spacing: 0.7px;

  color: #333333;
  margin: 24px 0 0 0;
}
.clinic-para {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  text-align: center;
  letter-spacing: 0.7px;

  color: #333333;
  margin: 24px 0 0 0;
}
.learn-arrow {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 24px 0 0 0;
}
.learnmore {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  letter-spacing: 0.7px;

  color: #333333;
  border-bottom: 1px solid #333333;
  margin: 0 0 0 0;
  padding-bottom: 6px;
}
.learn-arrow i {
  font-size: large;
  margin: 0 0 0 9px;
}
.section-1 {
  padding: 100px;
}
.head-title {
  text-align: center;
}
.head-text {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 52px;

  text-align: center;
  letter-spacing: 0.7px;

  color: #333333;
}
.review {
  display: flex;
  margin: 0 -30px;
}
.googlereview {
  padding: 24px;
  max-width: 380px;
  width: 100%;
  margin: 0 30px;
}
.omg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 27px;
}
.googlereview p {
  max-width: 332px;
  width: 100%;
  margin-bottom: 24px;
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #333333;
}
.men {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mentext {
  margin-left: 16px;
  /* margin-bottom: 12px; */
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  text-transform: capitalize;

  color: #333333;
}
.review .googlereview:nth-child(2) {
  background: #edf7fd;
  border-radius: 10px;
}
.slider {
  text-align: center;
  margin-top: 28px;
}
/* .slider-btn::after {
  content: "&#xf061";
} */
.slider-btn {
  text-align: center;
  margin-top: 47px;
}
.btn {
  height: 47px;
  width: 171px;
  border-radius: 10px;
  padding: 14px, 32px, 14px, 32px;
  background: #21537c;
  border-radius: 10px;
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  border: none;

  color: #ffffff;
}
.btn:hover {
  background-color: aqua;
  color: black;
}
.section-2 {
  padding: 100px;
  background: #edf7fd;
  /* display: flex; */
}

.head-texts {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;

  text-align: center;

  color: #333333;
}
.advisory {
  display: flex;
}
.first-advisory {
  max-width: 380px;
  width: 100%;
  margin-right: 30px;
}
.first-advisory:nth-child(3) {
  margin-right: 0px;
}

.advisory-text {
  margin: 16px 0px;
}
.advisory-text h3 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin: 16px 0px;

  text-transform: capitalize;

  color: #333333;
}
.advisory-text .jeff {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 16px 0px;

  color: rgba(51, 51, 51, 0.7);
}
.advise-btn {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.7px;
  max-width: 100px;
  width: 100%;
  color: #333333;
}
.learn {
  border-bottom: 1px solid black;
  max-width: 90px;
  width: 100%;
}
.section-3 {
  padding: 100px;
  background: #e5e5e5;
  display: flex;
}
.left {
  float: left;
  max-width: 588px;
  width: 100%;
  margin: 24px;
}
.right {
  float: right;
}
.left h1 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 58px;

  letter-spacing: -1px;

  color: #3b3d40;
}
.left p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  letter-spacing: 0.2px;

  color: #666666;
}
.left-left {
  max-width: 242px;
  width: 100%;
  float: left;
}
.left-left i {
  margin-bottom: 24px;
}
.left-right {
  float: right;
  max-width: 242px;
  width: 100%;
}
.left-right i {
  margin-bottom: 24px;
}
.left-right i:last-child {
  margin-bottom: -24px;
}
.left-left i:last-child {
  margin-bottom: -24px;
}
i {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  letter-spacing: 0.7px;

  color: #333333;
}
.australia img {
  /* background-color: navy; */
  margin-top: 32px;
  margin-bottom: 32px;
}
.iphone {
  max-width: 358px;
  width: 100%;
}
.arrow {
  position: relative;
}
.arrowsoon {
  position: absolute;
  left: 320px;
  top: 35px;
}
.soon {
  position: absolute;
  top: 55px;
  left: 410px;
  font-family: Dancing Script;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 26px;

  letter-spacing: 0.7px;

  color: rgba(51, 51, 51, 0.6);
}
.section-4 {
  padding: 75px 100px;
  max-width: 1400px;
  width: 100%;
}
.allfooter {
  margin-bottom: 81px;
}
.footer-left {
  max-width: 338px;
  width: 100%;
  float: left;
}
.footer-left h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-left span {
  font-weight: 300;
}
.icons {
  margin-top: 40px;
  margin-bottom: 40px;
}
.icons i {
  padding-right: 29.6px;
}
.mail p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #0a142f;
  margin-bottom: 20px;
}
.mail {
  border-bottom: 1px solid #ccc;
}
.footer-right {
  float: right;
  max-width: 881px;
  width: 100%;
}
.row {
  display: flex;
}
.col-1 {
  margin-bottom: 14px;
  margin-right: 90px;
}
.col-1 h4 {
  font-family: Graphie;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #333333;
}
.col-1 p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;

  color: #333333;

  mix-blend-mode: normal;
  opacity: 0.75;
}
.lastpara {
  display: flex;
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  width: 100%;
  letter-spacing: 0.2px;

  color: rgba(51, 51, 51, 0.5);
  margin-left: 16px;
  margin-top: 81px;
  margin-bottom: 20px;
  margin-right: 15px;
}
.section-5 {
  max-width: 1400px;
  width: 100%;
}
.behind {
  position: relative;
}
.doctor {
  position: absolute;
  top: 185px;
  left: 325px;
  right: 324px;
  bottom: 233px;
  background: #ffffff;
  width: 100%;
  max-width: 791px;
  border-radius: 10px;
  height: 809px;
}

.doc-photo {
  float: left;
  margin: 55px 0 0 54px;
}
.cancel {
  float: right;
  margin: 55px 32px 0 0;
}
.doc-text {
  width: 100%;
  display: inline-block;
}
.doc-text p {
}
.doc-text h2 {
}
.h2 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;

  letter-spacing: 0.7px;
  color: #333333;
}
.drname {
  margin: 40px 0 0 40px;
}
.surgeon {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
  margin: 8px 0 0 40px;
}
.name-text {
  margin: 24px 40px 0 40px;
}
.name-text1 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.7px;

  color: #333333;
}
.name-text2 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.7px;

  color: #333333;
  margin: 22px 0 0 0;
}
.doc-btn {
  height: 45px;
  width: 100%;
  max-width: 276px;
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.7px;
  border: none;
  color: #ffffff;
  background: #24547a;
  border-radius: 10px;
  padding: 14px, 31px, 14px, 31px;
  margin: 22px 0 42px 40px;
}
.doc-btn i {
  margin-left: 12px;
  color: white;
  width: 31px;
  height: 10px;
}
.doc-btn:hover {
  background-color: #28455e;
}
