.main-wrap {
  padding: 0 20px;
  /* background-color: red;    */
}
* {
  font-family: "Inter", sans-serif;
  /* margin: 0%; */
  /* padding: 0%; */
}
.cotainer {
  max-width: 1400px;
  width: 100%;
}
.section-6 {
  padding-bottom: 20px;
}
.logo-nav {
}
.logo {
  float: left;
  margin: 16px 0px;
}
.nav {
  float: right;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  list-style-type: none;
  margin-right: 40px;
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;

  letter-spacing: 0.7px;
  text-transform: uppercase;

  color: #333333;
}
ul li i {
  margin-left: 10px;
}
.section-7 {
  background-color: #fcfaf2;
  margin-top: 31px;
}
.main-div {
  display: flex;
  width: 100%;
}
.health {
  width: 100%;
  max-width: 40%;
  margin: 115px 0 0 100px;
}
.health h2 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 52px;
  text-transform: capitalize;
  color: #333333;
  margin: 0 0 0 0;
}
.health p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  margin: 20px 0 0 0;
  letter-spacing: 0.7px;

  color: #333333;
}
.view {
  height: 45px;
  width: 208px;
  border-radius: 10px;
  background: #333333;
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  letter-spacing: 0.7px;
  border: none;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 20px 0 0 0;
}
.view i {
  color: #ffffff;
  margin: 0 0 0 16px;
}

.covid {
  margin: 61px 99px 0 101px;
  width: 100%;
  max-width: 60%;
}
.first-covid {
  width: 195px;
  height: 195px;
  background: #ebcfb8;
  border-radius: 10px;
  position: relative;
}
.round-covid {
  height: 92px;
  width: 92px;
  border-radius: 50%;
  background: #f2dfcf;
  margin-left: 51.5px;
  position: absolute;
  top: 30px;
  bottom: 73px;
  position: relative;
}
.image-covid {
  position: absolute;
  top: 16px;
  left: 18px;
  position: relative;
}
.text-covid {
  position: absolute;
  left: 25px;
  top: 146px;
  right: 25px;
  bottom: 30px;
}
.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
}
.section-1 {
  padding: 100px;
}
.head-title {
  text-align: center;
}
.head-text {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 52px;

  text-align: center;
  letter-spacing: 0.7px;

  color: #333333;
}
.review {
  display: flex;
  margin: 0 -30px;
}
.googlereview {
  padding: 24px;
  max-width: 380px;
  width: 100%;
  margin: 0 30px;
}
.omg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 27px;
}
.googlereview p {
  max-width: 332px;
  width: 100%;
  margin-bottom: 24px;
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #333333;
}
.men {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mentext {
  margin-left: 16px;
  /* margin-bottom: 12px; */
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  text-transform: capitalize;

  color: #333333;
}
.review .googlereview:nth-child(2) {
  background: #edf7fd;
  border-radius: 10px;
}
.slider {
  text-align: center;
  margin-top: 28px;
}
/* .slider-btn::after {
  content: "&#xf061";
} */
.slider-btn {
  text-align: center;
  margin-top: 47px;
}
.btn {
  height: 47px;
  width: 171px;
  border-radius: 10px;
  padding: 14px, 32px, 14px, 32px;
  background: #21537c;
  border-radius: 10px;
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  border: none;

  color: #ffffff;
}
.btn:hover {
  background-color: aqua;
  color: black;
}
.section-2 {
  padding: 100px;
  background: #edf7fd;
  /* display: flex; */
}

.head-texts {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;

  text-align: center;

  color: #333333;
}
.advisory {
  display: flex;
}
.first-advisory {
  max-width: 380px;
  width: 100%;
  margin-right: 30px;
}
.first-advisory:nth-child(3) {
  margin-right: 0px;
}

.advisory-text {
  margin: 16px 0px;
}
.advisory-text h3 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin: 16px 0px;

  text-transform: capitalize;

  color: #333333;
}
.advisory-text .jeff {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 16px 0px;

  color: rgba(51, 51, 51, 0.7);
}
.advise-btn {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.7px;
  max-width: 100px;
  width: 100%;
  color: #333333;
}
.learn {
  border-bottom: 1px solid black;
  max-width: 90px;
  width: 100%;
}
.section-3 {
  padding: 100px;
  background: #e5e5e5;
  display: flex;
}
.left {
  float: left;
  max-width: 588px;
  width: 100%;
  margin: 24px;
}
.right {
  float: right;
}
.left h1 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 58px;

  letter-spacing: -1px;

  color: #3b3d40;
}
.left p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  letter-spacing: 0.2px;

  color: #666666;
}
.left-left {
  max-width: 242px;
  width: 100%;
  float: left;
}
.left-left i {
  margin-bottom: 24px;
}
.left-right {
  float: right;
  max-width: 242px;
  width: 100%;
}
.left-right i {
  margin-bottom: 24px;
}
.left-right i:last-child {
  margin-bottom: -24px;
}
.left-left i:last-child {
  margin-bottom: -24px;
}
i {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  letter-spacing: 0.7px;

  color: #333333;
}
.australia img {
  /* background-color: navy; */
  margin-top: 32px;
  margin-bottom: 32px;
}
.iphone {
  max-width: 358px;
  width: 100%;
}
.arrow {
  position: relative;
}
.arrowsoon {
  position: absolute;
  left: 320px;
  top: 35px;
}
.soon {
  position: absolute;
  top: 55px;
  left: 410px;
  font-family: Dancing Script;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 26px;

  letter-spacing: 0.7px;

  color: rgba(51, 51, 51, 0.6);
}
.section-4 {
  padding: 75px 100px;
  max-width: 1400px;
  width: 100%;
}
.allfooter {
  margin-bottom: 81px;
}
.footer-left {
  max-width: 338px;
  width: 100%;
  float: left;
}
.footer-left h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-left span {
  font-weight: 300;
}
.icons {
  margin-top: 40px;
  margin-bottom: 40px;
}
.icons i {
  padding-right: 29.6px;
}
.mail p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #0a142f;
  margin-bottom: 20px;
}
.mail {
  border-bottom: 1px solid #ccc;
}
.footer-right {
  float: right;
  max-width: 881px;
  width: 100%;
}
.row {
  display: flex;
}
.col-1 {
  margin-bottom: 14px;
  margin-right: 90px;
}
.col-1 h4 {
  font-family: Graphie;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #333333;
}
.col-1 p {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;

  color: #333333;

  mix-blend-mode: normal;
  opacity: 0.75;
}
.lastpara {
  display: flex;
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  width: 100%;
  letter-spacing: 0.2px;

  color: rgba(51, 51, 51, 0.5);
  margin-left: 16px;
  margin-top: 81px;
  margin-bottom: 20px;
  margin-right: 15px;
}
.section-5 {
  max-width: 1400px;
  width: 100%;
}
.behind {
  position: relative;
}
.doctor {
  position: absolute;
  top: 185px;
  left: 325px;
  right: 324px;
  bottom: 233px;
  background: #ffffff;
  width: 100%;
  max-width: 791px;
  border-radius: 10px;
  height: 809px;
}

.doc-photo {
  float: left;
  margin: 55px 0 0 54px;
}
.cancel {
  float: right;
  margin: 55px 32px 0 0;
}
.doc-text {
  width: 100%;
  display: inline-block;
}
.doc-text p {
}
.doc-text h2 {
}
.h2 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;

  letter-spacing: 0.7px;
  color: #333333;
}
.drname {
  margin: 40px 0 0 40px;
}
.surgeon {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
  margin: 8px 0 0 40px;
}
.name-text {
  margin: 24px 40px 0 40px;
}
.name-text1 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.7px;

  color: #333333;
}
.name-text2 {
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.7px;

  color: #333333;
  margin: 22px 0 0 0;
}
.doc-btn {
  height: 45px;
  width: 100%;
  max-width: 276px;
  font-family: Graphie;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.7px;
  border: none;
  color: #ffffff;
  background: #24547a;
  border-radius: 10px;
  padding: 14px, 31px, 14px, 31px;
  margin: 22px 0 42px 40px;
}
.doc-btn i {
  margin-left: 12px;
  color: white;
  width: 31px;
  height: 10px;
}
.doc-btn:hover {
  background-color: #28455e;
}
